<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Become a cocktail master!</h1>
    <p> Impress your fried! Find the best cocktail recipes and Do it!</p>
    <a class="btn btn-primary" href="#">Find a cocktail!</a>
  </div>
</div>
