<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);"> -->
<div class="banner-cocktail"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= banner_url %>);">
  <div class="offset-md-6 container">
    <div class="d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <p> <%= description %></p>


    </div>
  </div>
</div>
